@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #FBFBF9;
  color: #16181D;
  font-family: Inter, system-ui, sans-serif;
}

.font-display {
  font-family: "Instrument Serif", serif;
}
